footer {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  width: 100%;
  align-self: end;

  @media screen and (max-width: $tablet) {
    margin-bottom: 100px;
  }

  a {
    cursor: pointer;

    &:focus {
      outline: 3px solid $outlineColor;
    }

    svg {
      fill: $white;
      height: 5rem;
      width: 5rem;

      &:hover {
        fill: $primaryColor;
      }
    }

    &:focus {
      svg {
        fill: $primaryColor;
      }
    }

    span {
      position: absolute;
      left: -9999px;
    }
  }
}
