.page-layout {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-areas: 'aside main';

  @media screen and (max-width: $laptop) {
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
  }
}

.main {
  grid-area: main;
}
