.layout {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-areas: 'sidenav main';

  @media screen and (max-width: $laptop) {
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
  }
}

.main {
  grid-area: main;
  height: 100%;
  margin-bottom: 60px;
}
