.layout {
  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-areas: 'sidenav main';

  @media screen and (max-width: $laptop) {
    grid-template-columns: 1fr;
    grid-template-areas: 'main';
  }
}

.main {
  grid-area: main;
  margin: 60px 0;
}

.sw-modal {
  display: flex;
  background-color: $primaryColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sw-content {
  color: #fff;
  flex: 1 1 auto;
  padding-left: 15px;
}

.sw-button {
  border: none;
  background: $navbarBg;
  width: 65px;
  font-size: 1.6rem;
  color: $white;
}
