.modal {
  display: flex;
  background-color: $primaryColor;
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 80%;
  border-radius: 4px;
  margin: 0 auto;
  z-index: 10;

  @media screen and (max-width: $laptop) {
    width: 90%;
  }

  @media screen and (max-width: $tablet) {
    width: 95%;
  }
}

.modal__content {
  color: #fff;
  flex: 1 1 auto;
  padding: 0 15px;
  font-size: $fontSmall;
}

.modal__button {
  color: $white;
  flex: 1 1 auto;

  &--primary {
    background: $black;
    border: none;
    font-size: $fontMedium;
  }

  &--secondary {
    border-radius: 0 4px 4px 0;
    border: 1px solid $primaryColor;
    background: $primaryColor;
    font-size: 25px;
  }
}
