.modal {
  display: flex;
  background-color: $primaryColor;
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 90%;
  right: 0;
  border-radius: 4px;
  margin: 0 auto;
}

.modal__content {
  color: #fff;
  flex: 1 1 auto;
  padding: 0 15px;
}

.modal__button {
  width: 65px;
  color: $white;

  &--primary {
    background: $black;
    border: none;
    font-size: $fontMedium;
  }

  &--secondary {
    border-radius: 0 4px 4px 0;
    border: 1px solid $primaryColor;
    background: $primaryColor;
    width: 40px;
    font-size: 25px;
  }
}
