.sidenav {
  grid-area: sidenav;
  height: 100vh;
  left: 0;
  padding: 0;
  position: fixed;
  transform: translateX(0);
  transition: all ease-in-out 0.5s;
  width: 360px;
  z-index: 10;

  @media screen and (max-width: $laptopL) {
    max-width: 320px;
  }

  @media screen and (max-width: $laptop) {
    transform: translateX(-320px);
    visibility: hidden;
  }

  &.sidenav--show {
    transform: translateX(0);
    visibility: visible;
  }
}

.hamburger__menu,
.hamburger__close {
  cursor: pointer;
  display: block;
  height: 32px;
  position: fixed;
  right: 30px;
  top: 15px;
  width: 32px;
  z-index: 10;
  visibility: hidden;

  &:focus {
    outline: 3px solid $outlineColor;
  }

  & span {
    position: absolute;
    left: -9999px;
  }

  @media screen and (max-width: $laptop) {
    visibility: visible;
  }
}

.navbar {
  background: $navbarBg;
  border-bottom: 3px solid $primaryColor;
  border-top: 3px solid $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-top: 40px;
  width: 100%;

  & .navbar__item {
    align-content: center;
    height: 60px;
    list-style: none;
    text-align: center;
    width: 100%;

    & .navbar__link {
      border: 2px solid transparent;
      color: $white;
      cursor: pointer;
      font-family: Contender;
      font-size: $navbarLinkLarge;
      height: 100%;
      width: 100%;

      &:hover {
        color: $primaryColor;
      }

      &:focus {
        border: 2px solid $primaryColor;
        color: $primaryColor;
        outline: none;
      }
    }

    & .navbar__link--active {
      color: $primaryColor;
    }
  }
}
