// Fonts
$headingFontFamily: Hugtophia;
$bodyFontFamily: Goldsmith;
$codeFontFamily: Operator;
$handwritingFontFamily: $headingFontFamily;

// Navigation Link size
$navbarLinkLarge: 3rem;

// Heading font size
$heading1: 4.2rem;
$heading2: 3.7rem;
$heading3: 3.3rem;
$heading4: 2.8rem;
$heading5: 2.4rem;
$heading6: 2rem;

// Font size (p, span, input, label)
$fontXLarge: 1.9rem;
$fontLarge: 1.7rem;
$fontMedium: 1.6rem;
$fontSmall: 1.4rem;
$fontTags: 1.3rem;

// Colors
$primaryColor: hsl(341, 79%, 45%);
$black: #292522;
$errorFontColor: hsl(1, 84%, 44%);
$navbarBg: hsl(227, 15%, 8%);
$secondaryColor: hsl(38, 94%, 87%);
$outlineColor: hsl(194, 47%, 56%);
$linkVisitedColor: #6ca19e;
$white: #ffffff;
$headingFontColor: $primaryColor;
$bodyFontColor: $black;
$cardBoxShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);

// Media Query sizes
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 1920px;
