// Fonts
$headingFontFamily: Hugtophia;
$bodyFontFamily: Goldsmith;
$codeFontFamily: Operator;
$handwritingFontFamily: $headingFontFamily;

// Navigation Link size
$navbarLinkLarge: 3rem;

// Heading font size
$heading1: 4rem;
$heading2: 3rem;
$heading3: 2.7rem;
$heading4: 2.8rem;
$heading5: 2.4rem;
$heading6: 2rem;

// Font size (p, span, input, label)
$fontLarge: 1.7rem;
$fontMedium: 1.6rem;
$fontSmall: 1.4rem;
$fontTags: 1.3rem;

// Colors
$primaryColor: hsl(191, 93%, 28%);
$black: #292522;
$errorFontColor: hsl(1, 73%, 46%);
$navbarBg: #292522;
$secondaryColor: rgb(239, 235, 198);
$white: #fff;
$headingFontColor: $primaryColor;
$bodyFontColor: $black;

// Media Query sizes
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 1920px;
