// Fonts
$headingFontFamily: Hugtophia;
$bodyFontFamily: Goldsmith;
$codeFontFamily: Operator;
$handwritingFontFamily: $headingFontFamily;

// Navigation Link size
$navbarLinkLarge: 3rem;

// Heading font size
$heading1: 4rem;
$heading2: 3rem;
$heading3: 2.7rem;
$heading4: 2.8rem;
$heading5: 2.4rem;
$heading6: 2rem;

// Font size (p, span, input, label)
$fontLarge: 1.7rem;
$fontMedium: 1.6rem;
$fontSmall: 1.4rem;
$fontTags: 1.3rem;

// Colors
$primaryColor: hsl(341, 79%, 45%);
$black: #292522;
$errorFontColor: hsl(1, 84%, 44%);
$navbarBg: hsl(227, 15%, 8%);
$secondaryColor: hsl(0, 0%, 85%);
$white: #ffffff;
$headingFontColor: $primaryColor;
$bodyFontColor: $black;

// Media Query sizes
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 1920px;
