// Fonts
$headingFontFamily: Pastelyn;
$bodyFontFamily: Goldsmith;
$codeFontFamily: Operator;
$handwritingFontFamily: Pastelyn;

// Navigation Link size
$navbarLinkLarge: 3rem;

// Heading font size
$heading1: 4rem;
$heading2: 3rem;
$heading3: 2.7rem;
$heading4: 2.8rem;
$heading5: 2.4rem;
$heading6: 2rem;

// Font size (p, span, input, label)
$fontLarge: 1.7rem;
$fontMedium: 1.6rem;
$fontSmall: 1.4rem;
$fontTags: 1.3rem;

// Colors
$headingColor: hsl(0, 0%, 13%);
$subHeadingColor: hsl(319, 100%, 22%);
$bodyColor: hsl(0, 0%, 13%);
$errorColor: hsl(1, 73%, 46%);
$navbarBg: hsl(38, 80%, 76%);
$black: hsl(0, 0%, 13%);
$mainAccent: hsl(319, 100%, 22%);
$altAccent: hsl(38, 100%, 92%);
$white: #fff;

// Media Query sizes
$mobileS: 320;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 1920px;
