.blogpost__section {
  background: $secondaryColor;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(4, min-content);
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  justify-items: left;
  gap: 0 20px;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(150px, max-content) repeat(4, min-content);
    gap: 4px 0;
  }
}

.blogpost__image {
  grid-row: 1 / 5;
  width: 200px;
  height: auto;

  @media (max-width: $tablet) {
    grid-row: 1;
    width: 100%;
    height: auto;
    grid-column: 1 / 3;
  }
}

.blogpost__link {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $primaryColor;
    text-decoration: underline;
  }

  &:focus {
    outline: 3px solid $outlineColor;
  }

  @media (max-width: $tablet) {
    grid-row: 2;
    width: 100%;
    grid-column: 1 / 3;
  }
}

.blogpost__heading:focus {
  outline: 2px solid $outlineColor;
}

.blogpost__date {
  background: $black;
  border-radius: 25px;
  color: $white;
  font-size: $fontTags;
  align-self: center;
  padding: 3px 8px;
  width: auto;

  @media (max-width: $tablet) {
    grid-column: 1 / 3;
  }
}

.blogpost__tags {
  display: block;
  font-style: italic;
  height: auto;
  padding-left: 0;
  margin: 0;

  @media (max-width: $tablet) {
    grid-column: 1 / 3;
  }

  .blogpost__tag {
    margin: 8px 8px 8px 0;
  }

  .blogpost__tag:focus {
    outline: 3px solid $outlineColor;
  }
}
