.footer {
  display: flex;
  margin: 0 auto 10px 0;
  justify-content: space-around;
  width: 100%;
  align-self: end;

  @media screen and (max-width: $tablet) {
    align-self: start;
  }

  .footer__link {
    cursor: pointer;

    .sr-only {
      border: 0;
      clip: rect(0 0 0 0);
      height: auto;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }

    svg {
      fill: $white;
      height: 4.6rem;
      width: 4.6rem;
    }

    &:focus {
      outline: 3px solid $outlineColor;

      svg > * {
        fill: $primaryColor !important;
      }
    }

    &:hover {
      svg > * {
        fill: $primaryColor !important;
      }
    }
  }
}
