form {
  margin: 0 auto;
  padding: 25px 0;
  width: 480px;
  height: 100%;
}

fieldset {
  border-radius: 6px;
  border: 2px solid $black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & span {
    letter-spacing: 0.04rem;
    margin-bottom: 5px;
    width: 50%;
  }
}

// export const StyledErrorMessage = styled(ErrorMessage)`
//   color: ${props => props.theme.errorColor};
//   display: flex;
//   font-family: Abberwick;
//   font-size: ${props => props.theme.fontMd};
//   justify-content: flex-end;
//   letter-spacing: 0.03rem;
//   margin-bottom: 5px;
//   width: 50%;
// `;

input {
  border-radius: 4px;
  border: 1px solid $black;
  height: 50px;
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
  width: 100%;

  // &:active,
  // &:focus {
  //   border: ${props => props.theme.inputHoverBorderMd};
  // }
}

textarea {
  border-radius: 4px;
  border: 1px solid $black;
  margin: 0 0 30px 0;
  min-height: 120px;
  outline: none;
  padding: 20px;
  resize: vertical;
  width: 100%;

  // &:active {
  //   border: ${props => props.theme.inputHoverBorderMd};
  // }

  // &:focus {
  //   border: ${props => props.theme.inputHoverBorderMd};
  // }
}
