.sidenav {
  grid-area: sidenav;
  height: 100vh;
  left: 0;
  padding: 0;
  position: fixed;
  transform: translateX(0);
  transition: all ease-in-out 0.5s;
  width: 360px;
  z-index: 10;
  will-change: transform opacity;

  @media screen and (max-width: $laptopL) {
    max-width: 300px;
  }

  @media screen and (max-width: $laptop) {
    max-width: 300px;
    transform: translateX(-300px);
    opacity: 0;
  }

  @media screen and (max-width: $mobileL) {
    max-width: 280px;
    transform: translateX(-280px);
    opacity: 0;
  }

  &.sidenav--show {
    transform: translateX(0);
    opacity: 1;
  }
}

.hamburger__menu,
.hamburger__close {
  cursor: pointer;
  display: block;
  height: 32px;
  position: fixed;
  right: 30px;
  top: 15px;
  width: 32px;
  z-index: 10;
  visibility: hidden;

  &:focus {
    outline: 3px solid $outlineColor;
  }

  & span {
    position: absolute;
    left: -9999px;
  }

  @media screen and (max-width: $laptop) {
    visibility: visible;
  }
}

.navbar {
  background: $navbarBg;
  border-bottom: 3px solid $primaryColor;
  border-top: 3px solid $primaryColor;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100vh;
  width: 100%;
}

.navbar__logo {
  padding: 20px 0;
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: start;
  padding-left: 0;
  width: 100%;

  & .navbar__item {
    align-content: center;
    list-style: none;
    text-align: center;
    width: 100%;

    & .navbar__link {
      display: block;
      border: 2px solid transparent;
      color: $white;
      cursor: pointer;
      font-family: Contender;
      font-size: $navbarLinkLarge;
      width: 100%;
      padding: 6px 0;

      &:hover {
        color: $primaryColor;
      }

      &:focus {
        border: 2px solid $primaryColor;
        color: $primaryColor;
        outline: none;
      }
    }

    & .navbar__link--active {
      color: $primaryColor;
    }
  }
}
