.newsletter {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  background: $secondaryColor;
  border-radius: 5px;
  align-self: center;
}

.newsletter-form {
  padding: 20px;
  max-width: 500px;

  @media screen and (max-width: $laptop) {
    max-width: 420px;
  }

  @media screen and (max-width: $tablet) {
    max-width: 340px;
  }

  @media screen and (max-width: $mobileL) {
    max-width: 300px;
  }
}

.newsletter-heading {
  margin: 20px 0;
  text-align: center;
}

.newsletter-content {
  font-size: $fontSmall;
}

.newsletter-input {
  font-size: $fontSmall;
}
