.tags {
  max-width: 500px;
  text-align: center;

  @media screen and (max-width: $mobileL) {
    max-width: 400px;
  }

  .tag {
    &:hover {
      background: $navbarBg;
      color: $white;
      cursor: pointer;
    }
  }
}

.tag {
  background: $primaryColor;
  border-radius: 25px;
  color: $white;
  display: inline-block;
  font-family: Goldsmith;
  font-size: $fontSmall;
  margin: 20px 20px 0 0;
  padding: 3px 8px;

  &:hover {
    background: $white;
    color: $primaryColor;
    cursor: pointer;
  }
}
