.tags {
  max-width: 500px;
  text-align: center;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: $cardBoxShadow;

  @media (max-width: $mobileL) {
    max-width: 400px;
  }

  .tags__heading {
    margin: 10px 0 20px 0;
  }

  .blogpost__tag {
    margin: 5px 4px;
    font-style: italic;

    &:hover {
      background: $navbarBg;
      color: $white;
      cursor: pointer;
    }

    &:focus {
      outline: 3px solid $outlineColor;
    }
  }
}

.blogpost__tag {
  background: $primaryColor;
  border-radius: 25px;
  color: $white;
  display: inline-block;
  font-family: Goldsmith;
  font-size: $fontSmall;
  margin: 20px 20px 0 0;
  padding: 3px 8px;

  &:hover {
    background: $white;
    color: $primaryColor;
    cursor: pointer;
  }
}
