# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:8.11.4-stretch-browsers

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: update-npm
          command: "sudo npm install -g npm@latest"

      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Workaround for GoogleChrome/puppeteer#290
          command: "sh .circleci/setup_puppeteer.sh"

      - run:
          name: Install Dependencies
          command: npm install

      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules

      - run:
          name: Lint Checking
          command: npm run lint
      - run:
          name: Run Tests
          command: npm run test
      - run:
          name: Build Project
          command: npm run build
