.fourohfour {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.fourohfour__image {
  width: 100%;
  max-width: 480px;
  height: auto;
}

.fourohfour__heading {
  margin: 40px 0 20px 0;
}

.fourohfour__text {
  font-size: $fontLarge;
  width: 90%;
}

.fourohfour__link {
  margin-top: 15px;
  padding: 3px;
  font-size: $fontLarge;
  text-decoration: none;

  &:hover {
    color: $primaryColor;
    text-decoration: underline;
  }
}
