.fourohfour {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.fourohfour-text {
  font-size: $fontLarge;
}

.fourohfour-link {
  padding: 3px;
  font-size: $fontLarge;
  text-decoration: none;

  &:hover {
    color: $primaryColor;
    text-decoration: underline;
  }
}
