.blog {
  display: grid;
  justify-items: center;
  min-width: 300px;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.blog-heading {
  margin: 30px auto;
  text-align: center;
}

.blogpost-article {
  margin: 0 auto;
  background: $secondaryColor;
  min-width: 300px;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  height: 100%;
}

.blogpost-link {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $primaryColor;
    text-decoration: underline;
  }
}

.blogpost-heading {
  margin: 20px 0;
}

.blogpost-tags {
  display: inline-block;
  height: auto;
}

.blogpost-date,
.blogpost-readingtime {
  background: $navbarBg;
  border-radius: 25px;
  color: $white;
  display: inline-block;
  font-size: $fontTags;
  font-style: italic;
  margin: 20px 20px 0 0;
  padding: 3px 8px;
}

.blogpost-excerpt {
  font-size: $fontMedium;
}
