.blog {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.blog-heading {
  color: $headingColor;
  font-size: $heading1;
}

.blogpost-article {
  width: 90%;
}

.blogpost-heading {
  color: $headingColor;
  font-size: $heading2;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline overline;
  }
}
