.contactpage {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 90%;
  margin: 0 auto;

  @media screen and (max-width: $laptopL) {
    flex-direction: column;
  }
}

.contactpage-heading {
  font-size: $heading1;
  width: 100%;

  span {
    font-family: $headingFontFamily;
    font-size: $heading2;
    color: $headingColor;
    font-weight: 500;
    width: 100%;
  }
}

.contactpage-paragraph {
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;

  a {
    font-family: Goldsmith;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline overline;
    }
  }
}
