.contact {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin: 0 auto;
  height: 100%;
  justify-content: flex-start;

  @media screen and (max-width: $laptopL) {
    flex-direction: column;
  }
}

.contact-heading {
  width: 100%;
  margin: 30px 0;
}

.contact-paragraph {
  margin: 0 auto;
  font-size: $fontLarge;
  padding: 10px 0;
  width: 100%;

  a {
    color: $primaryColor;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
