.homepage {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  &-quote {
    max-width: 600px;
    text-align: center;
    font-family: $handwritingFontFamily;
    font-size: $heading2;
    color: $primaryColor;
  }

  &-image {
    width: 400px;
    height: auto;
  }
}
