.homepage {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.homepage__quote {
  max-width: 600px;
  text-align: center;
  font-family: $handwritingFontFamily;
  font-size: $heading2;
  color: $primaryColor;

  @media screen and (max-width: $tablet) {
    width: 90%;
  }
}

.homepage__image {
  @media screen and (max-width: $tablet) {
    width: 300px !important;
    height: 300px !important;
  }

  @media screen and (max-width: $mobileM) {
    width: 280px !important;
    height: 280px !important;
  }
}
