.portfolio__heading {
  font-size: $heading1;
  text-align: center;
  margin: 0 auto 25px 0;

  @media screen and (max-width: $tablet) {
    width: 90%;
  }
}

.projects {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 700px)
    minmax(1.2rem, 1fr);
  justify-items: center;
  gap: 40px 0;

  & > * {
    grid-column: 2;
  }
}
