.projects {
  display: grid;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
}

.portfolio__heading {
  font-size: $heading1;
  text-align: center;

  @media screen and (max-width: $tablet) {
    width: 90%;
  }
}
