.projects {
  display: grid;
  height: 100vh;
  gap: 40px;
  width: 100%;
}

.portfolio-heading {
  font-size: $heading1;
  text-align: center;
  margin: 30px auto;

  @media screen and (max-width: $tablet) {
    width: 90%;
  }
}
