.post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 120ch)
    minmax(1.2rem, 1fr);

  & > * {
    grid-column: 2;
  }

  .post__header {
    margin-bottom: 10px;

    .post__title {
      margin-bottom: 24px;
    }

    .post__image {
      width: 100%;
      justify-self: center;
    }

    .post__date {
      background: $black;
      display: block;
      border-radius: 25px;
      color: $white;
      font-size: $fontMedium;
      padding: 3px 8px;
      width: 100%;
    }
  }

  h2 {
    margin: 20px 0 8px 0;
  }

  h3 {
    margin: 20px 0 8px 0;
  }

  p {
    font-size: $fontXLarge;
    margin-top: 10px;
  }

  blockquote p {
    margin: 6px 0 6px 0;
  }

  a:hover {
    color: $outlineColor;
    text-decoration: underline;
    text-decoration-color: $outlineColor;
  }

  .gatsby-code-title {
    margin-top: 12px;
  }

  .gatsby-code-title,
  .gatsby-highlight {
    grid-column: 1 / 4 !important;
    width: 98%;
    justify-self: center;
    max-width: 700px;
  }

  .post__footer {
    margin-top: 20px;
    display: grid;
    width: 100%;

    .post__link {
      background: $primaryColor;
      border-radius: 25px;
      color: $white;
      font-size: $fontMedium;
      padding: 3px 8px;
      text-decoration: none;
    }

    .post__link:hover {
      background: $black;
    }

    .previous {
      justify-self: start;
    }

    .next {
      justify-self: end;
    }
  }
}
