.post {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 120ch)
    minmax(1.2rem, 1fr);

  & > * {
    grid-column: 2;
  }

  img {
    width: 100%;
    justify-self: center;
  }

  h1 {
    font-size: 42px;
    line-height: 52.5px;
  }

  h2 {
    font-size: 34px;
    line-height: 39px;
    margin: 30px 0 15px 0;
  }

  p {
    font-size: $fontXLarge;
    line-height: $fontXLarge * 1.45;
    margin-top: 29px;
  }

  blockquote p {
    margin: 6px 0 6px 0;
  }

  .gatsby-code-title {
    margin-top: 12px;
  }

  .gatsby-code-title,
  .gatsby-highlight {
    grid-column: 1 / 4 !important;
    width: 100%;
    justify-self: center;
    max-width: 700px;
  }
}
