.tagpage {
  display: grid;
  grid-template-columns:
    minmax(1.2rem, 1fr)
    minmax(auto, 700px)
    minmax(1.2rem, 1fr);
  justify-items: center;
  gap: 30px 0;

  & > * {
    grid-column: 2;
  }
}

.tagpage__heading {
  text-align: center;
}

.blogpost__list {
  list-style-type: none;
  padding: 0;
  color: $primaryColor;
  width: 100%;
}

.tagpage__return {
  background: $primaryColor;
  border-radius: 25px;
  color: $white;
  display: inline-block;
  font-family: Goldsmith;
  font-size: $fontSmall;
  margin: 20px 20px 0 0;
  padding: 3px 8px;
  justify-self: left;

  &:hover {
    background: $black;
    color: $white;
    cursor: pointer;
  }

  &:focus {
    outline: 3px solid $outlineColor;
  }
}
