.tagpage {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: $laptop) {
    width: 80%;
  }

  @media screen and (max-width: $tablet) {
    width: 80%;
  }
}

.tagpage__heading {
  text-align: center;
}

.blogpost__list {
  list-style-type: none;
  margin: 40px auto;
  padding: 0;
  color: $primaryColor;
}

.blogpost__entry {
  padding: 20px;
  border-radius: 8px;
  background: $secondaryColor;
  margin-bottom: 30px;
}

.tagpage__return {
  background: $primaryColor;
  border-radius: 25px;
  color: $white;
  display: inline-block;
  font-family: Goldsmith;
  font-size: $fontSmall;
  margin: 20px 20px 0 0;
  padding: 3px 8px;

  &:hover {
    background: $black;
    color: $white;
    cursor: pointer;
  }

  &:focus {
    outline: 3px solid $outlineColor;
  }
}
