@font-face {
  font-family: Contender;
  src: url('../fonts/Contender.otf'), url('../fonts/Contender.ttf');
}

@font-face {
  font-family: Abberwick;
  src: url('../fonts/Abberwick.otf');
}

@font-face {
  font-family: Operator;
  src: url('../fonts/Operator.otf');
}
