@font-face {
  font-family: Contender;
  src: url('../fonts/Contender.otf'), url('../fonts/Contender.ttf');
}

@font-face {
  font-family: Abberwick;
  src: url('../fonts/Abberwick.otf');
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1.45;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d2006b;
  font-family: Contender;
  font-weight: 300;
  letter-spacing: 0.03rem;
  margin: 0;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.2rem;
}

blcokquote,
span,
p {
  color: #222;
  font-family: Abberwick;
  letter-spacing: 0.005rem;
}

blockquote {
  font-style: italic;
  margin: 0;
  font-size: 1.5rem;
  background-color: rgba(209, 0, 108, 0.2);
  padding: 0 10px;
}

p {
  font-size: 1.7rem;
}
