{
  "presets": [
    "next/babel",
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 5 Chrome versions"]
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
