html,
body {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  color: $secondaryColor;
  background: $primaryColor;
}

::-moz-selection {
  color: $secondaryColor;
  background: $primaryColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headingFontColor;
  margin: 0;
}

blockquote {
  margin: 0;
  background-color: $secondaryColor;
  color: $bodyFontColor;
  padding: 0 20px;
  margin-left: 0;
  margin-bottom: 20px;
  border-left: 4px solid $primaryColor;
  width: 100%;
}

ul,
ol {
  margin-left: 0;
}

p,
span,
input,
textarea,
label {
  color: $bodyFontColor;
}
