@font-face {
  font-family: Contender;
  src: url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Contender.woff2') format('woff2'),
    url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Contender.woff') format('woff'),
    url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Contender.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Operator;
  src: url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Operator-Light.woff2') format('woff2'),
    url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Operator-Light.woff') format('woff'),
    url('https://asjas.sfo2.cdn.digitaloceanspaces.com/Operator-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

html,
body {
  font-size: 10px;
  line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: $headingFontFamily;
  text-shadow: 1px 2px 2px #aaa;
}

h1 {
  font-size: $heading1;
}

h2 {
  font-size: $heading2;
}

h3 {
  font-size: $heading3;
}

h4 {
  font-size: $heading4;
}

blockquote {
  font-size: $fontSmall;
  font-style: italic;
  font-family: $bodyFontFamily;
}

p,
span,
input,
textarea,
label,
ul,
ol {
  font-family: $bodyFontFamily;
  font-size: $fontMedium;
  margin: 6px 0;
}

a {
  font-family: $bodyFontFamily;
  text-decoration: none;
}
